Repository ADORSYS-GIS/homebrew-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: formula, documentation, workflow, security

fix(formula): rename Suricata and Yara classes to include version suffixes
  Formula/suricata@7.0.10.rb
  Formula/yara@4.5.4.rb
Labels: formula

fix(formula): remove bottle blocks from Suricata and Yara formulae
  Formula/suricata@7.0.10.rb
  Formula/yara@4.5.4.rb
Labels: formula

chore(workflow): remove deprecated CodeQL configuration and update upload-artifact action version
  .github/codeql/codeql-config.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-formulae.yml
Labels: workflow, security

feat(workflow): add automated bottle building for multiple platforms
  .github/workflows/bottle.yml
  scripts/generate-bottle-blocks.py
  scripts/test-bottle-locally.sh
Labels: workflow

fix(workflow):use checked-out script instead of downloading from URL
  .github/workflows/bottle.yml
Labels: workflow

fix(workflow): use checked-out script instead of downloading from URL
  .github/workflows/bottle.yml
  Formula/suricata@7.0.10.rb
Labels: formula, workflow

fix(workflow): add explicit permissions to address security warning
  .github/workflows/bottle.yml
Labels: workflow

.github/labeler.yml:

# Add 'formula' label to any changes in Formula directory
formula:
  - Formula/**/*

# Add 'documentation' label to any changes in documentation files
documentation:
  - README.md
  - docs/**/*

# Add 'workflow' label to any changes in GitHub Actions
workflow:
  - .github/**/*

# Add 'security' label to any security-related changes
security:
  - '**/security*.yml'
  - '**/security*.yaml'
  - '**/security*.rb'
